body{
    background-color: black;
}
div{
    margin:25%;
    margin-top: 20px;

}
#txt{
    text-align: center;
    color:white
}
#txt1{
    color:antiquewhite;
    text-align: center;
    font-family: Libre Baskerville;
}
#img1 {
    border:5px solid white;
}